<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Search by country</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-search-input
        (onEnter)="search($event)"
        (onDebounce)="getSuggestions($event)"
        placeholder="Search country..."
      >
      </app-search-input>
    </div>
  </div>
  <ul *ngIf="!hideSuggestion" class="list-group">
    <li *ngFor="let suggestion of suggestions" class="list-group-item list-group-item-action">
      <a [routerLink]="['/country', suggestion.alpha2Code]" class="nav-link">
        {{suggestion.name}}
      </a>
    </li>
    <li class="list-group-item list-group-item-action">
      <a class="nav-link" (click)="search(query)">
        Search "{{query}}"
      </a>
    </li>
  </ul>
  <hr>
</div>

<div *ngIf="isError" class="alert alert-danger">
  The country {{query}} was not found
</div>

<div *ngIf="countries.length > 0" class="row">
  <div class="col">
    <app-country-table
      [countries]="countries"
    >
    </app-country-table>
  </div>
</div>
