<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Search by region <small>{{currentRegion | titlecase}}</small></h2>
  <hr>

  <h5>Select a region</h5>

  <div class="row">
    <div class="col">
      <button
        *ngFor="let region of regions"
        [class]="getClassCss(region)"
        (click)="activeRegion(region)"
      >
        {{region | titlecase}}
      </button>
    </div>
  </div>
</div>

<div *ngIf="isError" class="alert alert-danger">
  The region {{currentRegion}} was not found
</div>

<div *ngIf="countries.length > 0" class="row">
  <div class="col">
    <app-country-table
      [countries]="countries"
    >
    </app-country-table>
  </div>
</div>
